{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <style>
    .error-message {
      color: red;
      font-size: 0.875em;
    }
  </style>
</head>
<body>
  <form id="passwordForm" action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="new_password" required>
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" name="confirm_password" required>
    </div>
    <div id="error-message" class="error-message"></div>
    <button type="submit">Change Password</button>
  </form>

  <script>
    document.getElementById('passwordForm').addEventListener('submit', function(event) {
      const newPassword = document.getElementById('newPassword').value;
      const confirmPassword = document.getElementById('confirmPassword').value;
      const errorMessage = document.getElementById('error-message');

    
      errorMessage.textContent = '';

     
      if (newPassword !== confirmPassword) {
        errorMessage.textContent = 'Passwords do not match. Please try again.';
        event.preventDefault(); 
      }
    });
  </script>
</body>
</html>

{% endblock %}